<nav>
  <h1><a [routerLink]="['/senadores']">GASTOS DE SENADORES | 2019</a></h1>
</nav>

<body class="container">
  <div class="title">
    <h2>{{nomeSenador | titlecase }}</h2>
    <p>Despesas em 2019</p>
  </div>

<div class="container-list-despesas">
  <table>
    <thead>
      <tr>
        <td>Tipo</td>
        <td>Descrição</td>
        <td>Valor total</td>
      </tr>
    </thead>
    <tbody>
      <tr><td>1</td><td>Aluguel de imóveis e despesas concernentes a eles</td><td>R$ {{valorTotalTipo(1) | number : '.2': 'pt'}}</td></tr>
      <tr><td>2</td><td>Divulgação da atividade parlamentar</td><td>R$ {{valorTotalTipo(2) | number : '.2': 'pt'}}</td></tr>
      <tr><td>3</td><td>Aquisição de material de consumo para uso no escritório</td><td>R$ {{valorTotalTipo(3) | number : '1.2-4': 'pt'}}</td></tr>
      <tr><td>4</td><td>Passagens aéreas, aquáticas e terrestres nacionais</td><td>R$ {{valorTotalTipo(4) | number : '1.2-4': 'pt'}}</td></tr>
      <tr><td>5</td><td>Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços</td><td>R$ {{valorTotalTipo(5) | number : '1.2-4': 'pt'}}</td></tr>
      <tr><td>6</td><td>Locomoção, hospedagem, alimentação e combustíveis</td><td>R$ {{valorTotalTipo(6) | number : '1.2-4': 'pt'}}</td></tr>
      <tr><td>7</td><td>Serviços de Segurança Privada</td><td>R$ {{valorTotalTipo(7) | number : '1.2-4': 'pt'}}</td></tr>
    </tbody>
  </table>
</div>

<p class="container-list-gasto">Gasto total: R$ {{valorTotal() | number : '1.2-4': 'pt'}}</p>

<div class="title">
    <h2>Detalhamento</h2>
  </div>

<div class="container-list">
  <table>
    <thead>
      <tr>
        <td>Tipo</td>
        <td>Fornecedor</td>
        <td>Ano</td>
        <td>Mês</td>
        <td>Dia</td>
        <td>Valor</td>
      </tr>
    </thead>
    <tbody *ngFor="let despesa of despesaSenador">
      <tr>
        <td>{{despesa.tipo}}</td>
        <td>{{despesa.fornec}}</td>
        <td>{{despesa.ano}}</td>
        <td>{{despesa.mes}}</td>
        <td>{{despesa.dia}}</td>
        <td>R$ {{despesa.valor | number : '1.2-4': 'pt'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
